.loginSignupContainer {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    transition: opacity .3s ease-out;
    opacity: 1;
    color: #2e2e2e;
}

.loginSignupContainer>:first-child {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: #000;
    opacity: .5;
}

.loginSignupContainer>:last-child {
    max-height: 550px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 670px;
    margin: auto;
    left: 0;
    max-width: 670px;
    right: 0;
}

.loginLeftBox {
    width: 40%;
    min-height: 125px;
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}



.loginRightBox {
    padding: 20px;
    margin-top: 30px;
    width: 60%;
    height: calc(100% - 30px);
    position: relative;
}


.loginFormContainer {
    padding: 0 20px;
    position: relative;
    height: calc(100% - 30px);
    overflow-y: auto;
}

.loginFormContainer>p {
    line-height: 23px;
    margin-bottom: 20px;
    color: #2e2e2e;
    font-weight: 600;
    font-size: 18px;
}

.mobileInput {
    height: 40px;
    border-radius: 4px 4px 0 0;
    position: relative;
    align-items: center;
    border: 1px solid #ddd;
}

.mobileInput>* {
    border: 0px solid !important;
    border-radius: 0px !important;
}

.mobileInput>:first-child {
    border-right: 1px solid #ddd !important;
}

.whatsappAlert {
    background: #f8f8f8;
    height: 40px;
    border-radius: 0 0 4px 4px;
    position: relative;
    align-items: center;
    padding: 0 12px;
    border: 1px solid #ddd;
    border-top: 0;
    width: 100%;
    justify-content: space-between;
}

.whatsappAlert>:last-child>label>span {
    height: 16px !important;
    width: 28px !important;
    /* background: #009587; */
}

.whatsappAlert>:last-child>label>span>span {
    width: 12px;
    height: 12px;
    top: 2px;
}


.nameAndEmail {
    border-radius: 2px !important;
    border: 1px solid #ccc !important;
    height: 40px !important;
    padding: 8px !important;
    box-shadow: none;
    word-break: normal;
    font-size: 14px !important;
}


.loginButton {
    margin-top: 50px;
    width: 100%;
    transition: top .3s ease-out;
    height: 40px;
    border-radius: 4px;
    background-color: #fd3752 !important;
    color: white;
}




.loginFooter {
    position: absolute;
    bottom: 30px;
    height: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}

.loginFooter>a {
    font-weight: bold;
    text-decoration: underline;
}