.footerOptions {
    justify-content: space-between;
    padding: 0px 20px;
    border-top: 1px solid grey;

    background-color: hsla(0, 0%, 92.9%, .4);
    overflow: auto;
}

.footerOptions>div {
    padding: 12px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.footerSubOptions {
    justify-content: space-between;
    padding: 5px 20px 30px 20px;
    overflow: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
}



.footerSubOptions>div>div {
    font-size: 15px;
    padding: 15px 10px 0px 10px;
    cursor: pointer;
    font-weight: 600;

}

.footerSubOptions p {
    cursor: pointer;
    padding: 5px 10px;
}