body html {
    color: #464646 !important;
    font-size: 14px;
    font-family: Source Sans Pro, sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}


.homepageContainer {
    padding-top: 70px;
    padding: 85px 20px 30px 20px;
    background-color: #fdfdfd;
}

.homeTitle {
    font-size: 32px;
    font-weight: 400;
    color: #787676;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 40px;
}

.nIcon {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #464646;
    font-size: 14px;
    font-family: Source Sans Pro, sans-serif;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: rgba(252, 178, 68, .2);
}

.nIcon>img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    transition: .2s;
    animation: scale 1s ease-in-out infinite;
}

@keyframes scale {
    to {
        transform: scale(1.3);
    }
}

.buyRent {
    width: 370px;
    background-color: #fcfcfc;
    margin: 30px auto 0;
    border: solid #efefef;
    border-width: 1px 1px 0;
    border-radius: 4px 4px 0 0;
    grid-template-columns: repeat(3, 1fr);
}

.buyRent>div {
    text-align: center;
    border-right: 1px solid #efefef;
    border-top-left-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    font-size: 17px;
    font-weight: 400;
    color: #afaaaa;
    text-decoration: none;
}



.searchBox {
    width: 900px;
    margin: 0 auto;
    position: relative;
    align-items: center;

    cursor: default;
    flex-wrap: wrap;
}

.searchBox select {
    height: 50px;
    font-size: 16px;
    border-radius: 4px 0 0 0;
    border: 1px solid #e2e2e2;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;

}

option {
    padding: 8px !important;
    font-size: 14px !important;
}


.searchInput {
    height: 100%;
}

.searchInput>input {
    width: 540px;
    height: 50px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #e2e2e2;
    padding-left: 15px;
}



.searchButton {
    height: 50px !important;
    padding: 12px 20px;
    font-size: 18px;
    z-index: 1;
    width: 180px;
    border-radius: 0 4px 0 0 !important;
    font-weight: 400;
}

.searchButton:hover {
    background-color: #d72f45 !important;
}

.filterBox {
    height: 59px;
    background-color: #fcfcfc;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-top: 0 solid #e2e2e2;
    border-radius: 0 0 4px 4px;
    align-items: center;
}

.postYourAd {
    cursor: pointer;
    font-weight: 300;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    font-size: 13px;
    font-family: Source Sans Pro, sans-serif;
    height: 40px;
    overflow: hidden;
    font-size: 16px;
    padding: 7px 25px;
    width: fit-content;
    margin: auto;
}


.optiosWithIcon {
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
    justify-content: space-evenly;
}

.optiosWithIcon>div {
    padding: 10px 15px;
    cursor: pointer;
    /* text-decoration: none !important; */
    /* width: 16.6667%; */
}

.optiosWithIcon>div img:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
}

.optiosWithIcon>div>:first-child {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    color: #464646;
    margin-bottom: 6px;
    background-color: #ffefd9;
    padding: 2px 8px;
    border-radius: 20px;
}

.optiosWithIcon>div>:last-child {
    font-size: 14px;
    margin-top: 10px;
}

.optiosWithIcon img {
    display: block;
    margin: auto;
    height: 60px;
    width: 60px;
    max-width: 100%;
}

.horizontalLineBox {
    display: flex;
    opacity: .5;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.horizontalLine {
    height: 1px;
    width: 100%;
    background-color: #707070;
}

.redCircle {
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
}

.whyUseNoBroker {
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    margin: 40px;
}

.whyUseNoBroker img {
    margin: auto;
}

.whyUseNoBroker img:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.2);
}

.whyUseNoBroker>div>:nth-child(2) {
    margin-top: 8px;
    font-size: 17px;
}

.whyUseNoBroker>div>:last-child {
    font-size: 14px;
}

.enquiryNow {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.enquiryBtn {
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    background-color: #fd3752;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2px;
}

.reviewBox {
    padding: 40px;
    color: #fff;
    background-color: #334a5c;

}

.reviewBox iframe {
    display: inline;
    width: 560px;
    height: 320px;
    vertical-align: middle;
}



.userAvatarBox>img {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    background-size: cover;
    margin-right: 10px;
}

.ratting_star {
    display: inline;
    width: 14px;
    color: #009587;
}

.descriptionBox {
    margin-top: 20px;
    max-height: 140px;
    overflow: hidden;
}



.mobileIconBox {
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.mobileIconBox img {
    max-width: 80%;
    height: auto;
    display: inline-block;
}

.radioBtnBox>label>:last-child {
    font-size: 12px !important;
}


.apartmentType {
    border: 1px solid #e2e2e2 !important;
    font-size: 12px !important;
    border-radius: 0;
    background-color: #fcfcfc;
}


.menuItems {
    min-width: fit-content !important;
    padding: 0;
    border-radius: 0 !important;
    border: 1px solid #e2e2e2 !important;
    padding-right: 10px !important;
}

.menuItems2 {
    width: 100px;
    padding: 0;
    border-radius: 0 !important;
    border: 1px solid #e2e2e2 !important;
    padding-right: 10px !important;
}

.menuItems button>label>:last-child {
    font-size: 14px !important;

}

.menuItems2>button {
    font-size: 14px !important;

}